.App {
  font-family: sans-serif;
}

.Tab {
  width: 500px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
li.active {
  color: pink;
}

li {
  list-style: none;
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
}

ul {
  display: flex;
}
